<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd perltidy 'Perltidy is available &lt;a href="javascript:TextMate.system(&amp;quot;open http://perltidy.sourceforge.net/&amp;quot;, null)"&gt;from here&lt;/a&gt;.'

perltidy -st -q
</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Tidy</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>uuid</key>
	<string>DA0A5F4B-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
