<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>captureFormatString</key>
	<string>$1 $3</string>
	<key>capturePattern</key>
	<string>^(.*)line (\d+)(.*)$</string>
	<key>command</key>
	<string>. "${TM_SUPPORT_PATH}/lib/html.sh"
cd "${TM_DIRECTORY}"
out=`"${TM_BUNDLE_SUPPORT}/perlcheckmate.pl" "${TM_FILEPATH}"`
if [[ $out ]]
  then htmlHeader "Perl syntax errors for ${TM_FILENAME}";
       exit_show_html "$out";
       htmlFooter
  else exit_show_tool_tip "No errors!"
fi</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^V</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Validate Syntax</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>uuid</key>
	<string>DA0A5FEC-5F16-11D9-B9C3-000D93589AF6</string>
</dict>
</plist>
