<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>pod2html 2&gt;/dev/null</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^@p</string>
	<key>name</key>
	<string>View POD as HTML</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.perl</string>
	<key>uuid</key>
	<string>CF2CA4F9-82A7-11D9-8753-000D9332809C</string>
</dict>
</plist>
