.warning {
 color: #FF7F00;
 margin-left: 20px; 
}
.bright p.warning a {
 color: #FF7F00;
}
.bibtex {
 background-color: #CBF4EF;
}
.error {
 color: red;
 margin-left: 20px;
}
.bright div#commandOutput {
    background-color: rgb(240,240,240);
    padding: 5px;
}
.bright p.error a {
 color: red;
}

