<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>auto</key>
	<string></string>
	<key>break</key>
	<string></string>
	<key>case</key>
	<string></string>
	<key>char</key>
	<string></string>
	<key>continue</key>
	<string></string>
	<key>default</key>
	<string></string>
	<key>do</key>
	<string></string>
	<key>double</key>
	<string></string>
	<key>else</key>
	<string></string>
	<key>enum</key>
	<string></string>
	<key>extern</key>
	<string></string>
	<key>float</key>
	<string></string>
	<key>for</key>
	<string></string>
	<key>goto</key>
	<string></string>
	<key>if</key>
	<string></string>
	<key>int</key>
	<string></string>
	<key>long</key>
	<string></string>
	<key>register</key>
	<string></string>
	<key>return</key>
	<string></string>
	<key>short</key>
	<string></string>
	<key>sizeof</key>
	<string></string>
	<key>static</key>
	<string></string>
	<key>struct</key>
	<string></string>
	<key>switch</key>
	<string></string>
	<key>typedef</key>
	<string></string>
	<key>union</key>
	<string></string>
	<key>unsigned</key>
	<string></string>
	<key>void</key>
	<string></string>
	<key>while</key>
	<string></string>
</dict>
</plist>

