<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>table.concat( ${1:tablename}${2:, ", "}${3:, start_index}${4:, end_index} )</string>
	<key>name</key>
	<string>table.concat</string>
	<key>scope</key>
	<string>source.lua</string>
	<key>tabTrigger</key>
	<string>table.concat</string>
	<key>uuid</key>
	<string>8E68AA99-64F4-4D36-AF80-D7D0B3DCD041</string>
</dict>
</plist>
