<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>table.sort( ${1:tablename}${2:, sortfunction} )</string>
	<key>name</key>
	<string>table.sort</string>
	<key>scope</key>
	<string>source.lua</string>
	<key>tabTrigger</key>
	<string>table.sort</string>
	<key>uuid</key>
	<string>2052FA2D-5830-4665-8C90-01D0C7E04991</string>
</dict>
</plist>
