<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require 'pathname'
require 'pp'
require "#{ENV['TM_BUNDLE_SUPPORT']}/lib/LaTeXUtils.rb"
filename = ENV["TM_DROPPED_FILEPATH"]
relative_to = ENV["TM_DIRECTORY"]
startfile = ENV['TM_LATEX_MASTER'] || ENV['TM_FILEPATH']
master = Pathname.new(LaTeX.master(startfile))
unless master.absolute?
  master = master.expand_path(ENV['TM_PROJECT_DIRECTORY'])
end
path = Pathname.new(filename).relative_path_from(master.dirname)
if ENV["TM_MODIFIER_FLAGS"].match(/OPTION/)
  print "\\\\input{" + path + "}"
else
  print "\\\\include{" + path + "}"
end</string>
	<key>draggedFileExtensions</key>
	<array>
		<string>tex</string>
	</array>
	<key>name</key>
	<string>Include File</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>5C321350-C9CD-11D9-B88C-000A95C0F626</string>
</dict>
</plist>
