.shiny div.bibtex  {
    background-color: #999;
    color: black;
}

.shiny a.warning {
    color: #FF7F00;
}


.shiny div.error a {
    color: red;
}


.shiny div#commandOutput {
    background-color: rgb(40,40,40);
    padding: 5px;
}
