/* ===================== */
/* = Subversion Styles = */
/* ===================== */

.halloween div.subversion {
	color: #FFF;
}

/* INFO */

.halloween div.subversion dl.info.alternate dt {
   border-top: 1px dashed #444;
}

/* BLAME */

/* some adds for the links in the table (clickable lines)..*/
.halloween div.subversion table.blame a:hover, div.subversion table.blame a:active {
/*   background-color: #2F3845;*/
   color: inherit;
   text-decoration: none;
}


/* formating the table.. */
.halloween div.subversion table.blame {
	background-color: #111;
	border: 1px solid #555;
}

.halloween div.subversion table.blame th {
   text-align: left;
   background-color: #333;
   border-bottom: 1px solid #555;
   padding: 3px;
   padding-bottom: 1px;
   padding-top: 1px;
   color: #AAA;
}

/* i have to format just these 2, because i just want
   borders beween the headers and not at their sides.. */
.halloween div.subversion table.blame th.revhead {
   border-left: 1px solid #444;
   border-right: 1px solid #444;
}

.halloween div.subversion table.blame th.codehead {
   border-left: 1px solid #444;
}

/* to make it look good if a line gets wrapped: */
/* about the several column classes.. */
.halloween div.subversion table.blame td.linecol {
   background-color: #333;
   border-right: 1px solid #666;
   color: #888;
   text-align: right;
}

.halloween div.subversion table.blame td.revcol, .halloween div.subversion table.blame td.namecol {
   text-align: right;
   background-color: #111;
   color: #888;
   border-right: 1px solid #333;
   padding-right: 2px;
   padding-left: 2px;
}

.halloween div.subversion table.blame td.namecol {
   border-right: 1px solid #444;
}

.halloween div.subversion table.blame td.alternate {
	background-color: #1D1D1D;
}

/* maybe this should be implemented as id but its
   an optimisation for less ruby code. :) */
.halloween div.subversion table.blame td.current_line {
   background-color: #370000;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #AAA;
}

/* Status */

.halloween table.status {
	border-color: #222;
}

.halloween table.status th {
	background-color: #111;
	border: 1px solid #222;
	color: #E27A14;
	font-weight: normal;
}

.halloween table.status tr.alternate {
	background-color: #0F0F0F;
	
}

.halloween #commandOutput {
	border: 1px solid #555;
	background-color: #222;
}


/* A */
.halloween table.status td.added {
	color:      #bbffb3;
	background: green;
}
/* M */
.halloween table.status td.modified,
.halloween table.status td.updated,
.halloween table.status td.merged {
	color:      #f7e1ad;
	background: #eb6400;
}
/* D */
.halloween table.status td.deleted,
.halloween table.status td.replaced {
	color:      #f59696;
	background: red;
}
/* C, !, " */
.halloween table.status td.conflict,
.halloween table.status td.missing,
.halloween table.status td.typeconflict {
	color:      #A3CED0;
	background: teal;
}
/* ?, I, X */
.halloween table.status td.unknown,
.halloween table.status td.ignored,
.halloween table.status td.external {
	color:      #edaef5;
	background: purple;
}

