<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>pvnjny@tznvy.pbz</string>
	<key>contactName</key>
	<string>Ciarán Walsh</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>37E7E7F5-DD1E-4306-B258-0F9176DC8D7E</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>SQL</string>
	<key>ordering</key>
	<array>
		<string>37E7E7F5-DD1E-4306-B258-0F9176DC8D7E</string>
		<string>C9969F41-A409-4118-8753-CA95A9228FF7</string>
		<string>9C3A0A63-E661-4B0B-855B-710EDBBDB00F</string>
		<string>C49120AC-6ECC-11D9-ACC8-000D93589AF6</string>
	</array>
	<key>uuid</key>
	<string>AAB4CBF7-73F9-11D9-B89A-000D93589AF6</string>
</dict>
</plist>
