<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>IBOutlet ${1:NSSomeClass}${TM_C_POINTER: *}${2:${1/^[A-Z](?:[A-Z]+|[a-z]+)([A-Z]\w*)/\l$1/}};</string>
	<key>name</key>
	<string>IBOutlet</string>
	<key>scope</key>
	<string>source.objc, source.objc++</string>
	<key>tabTrigger</key>
	<string>ibo</string>
	<key>uuid</key>
	<string>30C260A7-AFB1-11D9-9D48-000D93589AF6</string>
</dict>
</plist>
