<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>- (${1:id})${2:${TM_SELECTED_TEXT:method}}${3::(${4:id})${5:${4/(NS([AEIOQUY])?(\w+).*)|(.)?.*/(?1:a(?2:n$2)$3:(?4:anArgument))/}}};</string>
	<key>keyEquivalent</key>
	<string>^M</string>
	<key>name</key>
	<string>Interface: Method</string>
	<key>scope</key>
	<string>source.objc meta.scope.interface, source.objc++ meta.scope.interface</string>
	<key>tabTrigger</key>
	<string>m</string>
	<key>uuid</key>
	<string>325B0A2B-5939-4805-80A1-6DED5B373283</string>
</dict>
</plist>
