<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>NSBezierPath${TM_C_POINTER: *}${1:path} = [NSBezierPath bezierPath];
$0</string>
	<key>name</key>
	<string>NSBezierPath</string>
	<key>scope</key>
	<string>source.objc, source.objc++</string>
	<key>tabTrigger</key>
	<string>bez</string>
	<key>uuid</key>
	<string>917BA9ED-9A62-11D9-9A65-000A95A89C98</string>
</dict>
</plist>
