<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>NSLog(@"%s$1", _cmd${1/[^%]*(%)?.*/(?1:, :\);)/}$2${1/[^%]*(%)?.*/(?1:\);)/}</string>
	<key>name</key>
	<string>NSLog(.., _cmd)</string>
	<key>scope</key>
	<string>source.objc meta.scope.implementation, source.objc++ meta.scope.implementation</string>
	<key>tabTrigger</key>
	<string>log</string>
	<key>uuid</key>
	<string>A3555C49-D367-4CF5-8032-13B291820CD3</string>
</dict>
</plist>
