<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>: ${TM_LUA:=lua}
require_cmd "$TM_LUA"
"$TM_LUA" "$TM_FILEPATH"|pre</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.lua</string>
	<key>uuid</key>
	<string>BF303CAC-FF2B-4299-8F2B-C84FE64B5146</string>
</dict>
</plist>
