<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; xsl-t_template_in.xsl &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>xsl</string>
	<key>name</key>
	<string>XSL-T Template</string>
	<key>uuid</key>
	<string>32E29AF6-904C-40F2-AF72-7797ADDAAA3C</string>
</dict>
</plist>
