<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>svn-commit.tmp</string>
		<string>svn-commit.2.tmp</string>
	</array>
	<key>name</key>
	<string>svn-commit.tmp</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.item.subversion-commit</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(•).*$\n?</string>
			<key>name</key>
			<string>meta.bullet-point.strong</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.item.subversion-commit</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(·).*$\n?</string>
			<key>name</key>
			<string>meta.bullet-point.light</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.item.subversion-commit</string>
				</dict>
			</dict>
			<key>match</key>
			<string>^\s*(\*).*$\n?</string>
			<key>name</key>
			<string>meta.bullet-point.star</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(^--(This line, and those below, will be ignored| Diese und die folgenden Zeilen werden ignoriert )--$\n?)</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>meta.separator.svn</string>
				</dict>
			</dict>
			<key>end</key>
			<string>^--not gonna happen--$</string>
			<key>name</key>
			<string>meta.scope.changed-files.svn</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>^A\s+.*$\n?</string>
					<key>name</key>
					<string>markup.inserted.svn</string>
				</dict>
				<dict>
					<key>match</key>
					<string>^(M|.M)\s+.*$\n?</string>
					<key>name</key>
					<string>markup.changed.svn</string>
				</dict>
				<dict>
					<key>match</key>
					<string>^D\s+.*$\n?</string>
					<key>name</key>
					<string>markup.deleted.svn</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>scopeName</key>
	<string>text.subversion-commit</string>
	<key>uuid</key>
	<string>5B201F55-90BC-4A69-9A44-1BABE5A9FE99</string>
</dict>
</plist>
