<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleIdentifier</key>
		<string>se.bzero.Vico.help</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>VicoHelp</string>
		<key>CFBundlePackageType</key>
		<string>BNDL</string>
		<key>CFBundleShortVersionString</key>
		<string>1</string>
		<key>CFBundleSignature</key>
		<string>hbwr</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>HPDBookAccessPath</key>
		<string>VicoHelp.html</string>
		<key>HPDBookIconPath</key>
		<string>shared/icon_hand.png</string>
		<key>HPDBookIndexPath</key>
		<string>Vico.helpindex</string>
		<key>HPDBookKBProduct</key>
		<string>vico</string>
		<key>HPDBookKBURL</key>
		<string>http://help.vicoapp.com/kbsearch?q='query'</string>
		<key>HPDBookTopicListCSSPath</key>
		<string>../shared/help.css</string>
		<key>HPDBookTitle</key>
		<string>Vico Help</string>
		<key>HPDBookType</key>
		<string>3</string>
	</dict>
</plist>
