.warning {
 color: #FF7F00;
 margin-left: 20px; 
}
.default p.warning a {
 color: #FF7F00;
}
.default .bibtex {
 background-color: #CBF4EF;
}
.error {
 color: red;
 margin-left: 20px;
}
.default p.error a {
 color: red;
}

.ltxmk {
    color: green;
    display: none;
}
.default div#commandOutput {
    background-color: rgb(240,240,240);
    padding: 5px;
}

div#texActions {
    padding: 10px;
}

.fmtWarning {
    display: none;
    margin-left: 20px;
    color:#FF7F00;
}