<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># set defaultCStringEncoding to UTF-8
if diff --strip-trailing-cr --label "${TM_FILENAME:-untitled}" --label "(clipboard)" -u - &lt;(__CF_USER_TEXT_ENCODING=$UID:0x8000100:0x8000100 pbpaste); then
  echo "There are no differences."
else
  exit_create_new_document
fi
</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@D</string>
	<key>name</key>
	<string>Document / Selection With Clipboard</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>674E54F5-065E-4224-9626-673903B7C0E0</string>
</dict>
</plist>
