/* =================== */
/* = General Styling = */
/* =================== */
.shiny {
	background: #000;
	color: #E6E2E8;
}
.shiny a {
	color: #BBE;
}

.shiny h1 {
	color: #FFF;
	text-shadow:  #808080 3px 3px 5px;
}

.shiny h2 {
	text-shadow:  #808080 3px 3px 5px;
}

.shiny h3 {
	text-shadow:  #808080 3px 3px 5px;
}

.shiny blockquote {
	border-left: 4px solid #808080;
	color: #FFF;
}

.shiny code {
	color: #C1DE77;
}

.shiny pre {
	color: #FFF;
	background-color: #111;
	border: 1px solid #555;
}


.shiny .pro_table {
	border-top: 1px solid #616465;
	border-left: 1px solid #616465;
}
.shiny .pro_table th {
	background: #1C1C1C;
	border-bottom: 1px solid #616465;
	border-right: 1px solid #616465;
}
.shiny .pro_table td {
	border-bottom: 1px solid #616465;
	border-right: 1px solid #616465;
}
.shiny .footnote:before {
	color: #888;
}
.shiny .footnote:after {
	color: #888;
}

.shiny div.footnotes {
   background: #111;
}


.shiny td, .dark th {
	color: #EEE;
}

.shiny caption, .dark label {
	color: #CCC;
}

.shiny .alternate {
	background-color: #111;
}