<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>sh</string>
		<string>ss</string>
		<string>bashrc</string>
		<string>bash_profile</string>
		<string>bash_login</string>
		<string>profile</string>
		<string>bash_logout</string>
		<string>.textmate_init</string>
	</array>
	<key>firstLineMatch</key>
	<string>^#!.*(bash|zsh|sh|tcsh)</string>
	<key>foldingStartMarker</key>
	<string>\{</string>
	<key>foldingStopMarker</key>
	<string>\}</string>
	<key>keyEquivalent</key>
	<string>^~S</string>
	<key>name</key>
	<string>Shell Script (Bash)</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>match</key>
			<string>\b(time)\b</string>
			<key>name</key>
			<string>support.function.shell</string>
		</dict>
		<dict>
			<key>match</key>
			<string>;|&amp;&amp;|&amp;|\|\|</string>
			<key>name</key>
			<string>keyword.operator.list.shell</string>
		</dict>
		<dict>
			<key>match</key>
			<string>[|!]</string>
			<key>name</key>
			<string>keyword.operator.pipe.shell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\[{2})</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.logical-expression.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\]{2})</string>
			<key>name</key>
			<string>meta.scope.logical-expression.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>comment</key>
					<string>do we want a special rule for ( expr )?</string>
					<key>match</key>
					<string>==|!=|&amp;&amp;|!|\|\|</string>
					<key>name</key>
					<string>keyword.operator.logical.shell</string>
				</dict>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\({2})</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.expression.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\){2})</string>
			<key>name</key>
			<string>meta.scope.expression.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(\()</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.subshell.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\))</string>
			<key>name</key>
			<string>meta.scope.subshell.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(?&lt;=\s|^)(\{)(?=\s|$)</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.group.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?&lt;=^|;)\s*(\})</string>
			<key>name</key>
			<string>meta.scope.group.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>$self</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>\\.</string>
			<key>name</key>
			<string>constant.character.escape.shell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>'</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>'</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.single.shell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$?"</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>"</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.double.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\[\$`"\\\n]</string>
					<key>name</key>
					<string>constant.character.escape.shell</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#variable</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#interpolation</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$'</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>'</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.quoted.single.dollar.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\\(a|b|e|f|n|r|t|v|\\|')</string>
					<key>name</key>
					<string>constant.character.escape.ansi-c.shell</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\\[0-9]{3}</string>
					<key>name</key>
					<string>constant.character.escape.octal.shell</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\\x[0-9a-fA-F]{2}</string>
					<key>name</key>
					<string>constant.character.escape.hex.shell</string>
				</dict>
				<dict>
					<key>match</key>
					<string>\\c.</string>
					<key>name</key>
					<string>constant.character.escape.control-char.shell</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>match</key>
			<string>(?&lt;=\s|:|=|^)~</string>
			<key>name</key>
			<string>keyword.operator.tilde.shell</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#variable</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#interpolation</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>\$\({2}</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\){2}</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.other.math.shell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>[&gt;&lt;]\(</string>
			<key>beginCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>\)</string>
			<key>endCaptures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.interpolated.process-substitution.shell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)-("|'|)(RUBY)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.ruby.embedded.shell</string>
			<key>end</key>
			<string>^\t*(RUBY)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.no-indent.ruby.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.ruby</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)("|'|)(RUBY)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.ruby.embedded.shell</string>
			<key>end</key>
			<string>^(RUBY)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.ruby.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.ruby</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)-("|'|)(APPLESCRIPT)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.applescript.embedded.shell</string>
			<key>end</key>
			<string>^\t*(APPLESCRIPT)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.no-indent.applescript.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.applescript</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)("|'|)(APPLESCRIPT)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>source.applescript.embedded.shell</string>
			<key>end</key>
			<string>^(APPLESCRIPT)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.applescript.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>source.applescript</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)-("|'|)(HTML)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>text.html.embedded.shell</string>
			<key>end</key>
			<string>^\t*(HTML)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.no-indent.html.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>text.html.basic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)("|'|)(HTML)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>text.html.embedded.shell</string>
			<key>end</key>
			<string>^(HTML)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.html.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>text.html.basic</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)-("|'|)(MARKDOWN)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>text.html.markdown.embedded.shell</string>
			<key>end</key>
			<string>^\t*(MARKDOWN)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.no-indent.markdown.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>text.html.markdown</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)("|'|)(MARKDOWN)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>contentName</key>
			<string>text.html.markdown.embedded.shell</string>
			<key>end</key>
			<string>^(MARKDOWN)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.markdown.shell</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>text.html.markdown</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)-("|'|)\\?(\w+)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>^\t*(\3)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.no-indent.shell</string>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;&lt;)("|'|)\\?(\w+)\2</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.heredoc.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.shell</string>
				</dict>
			</dict>
			<key>end</key>
			<string>^(\3)$</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.control.heredoc-token.shell</string>
				</dict>
			</dict>
			<key>name</key>
			<string>string.unquoted.heredoc.shell</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.herestring.shell</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>string.quoted.single.herestring.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(&lt;&lt;&lt;)((')[^']*('))</string>
			<key>name</key>
			<string>meta.herestring.shell</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.herestring.shell</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>string.quoted.double.herestring.shell</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.begin.shell</string>
				</dict>
				<key>6</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.string.end.shell</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(&lt;&lt;&lt;)((")(\\("|\\)|[^"])*("))</string>
			<key>name</key>
			<string>meta.herestring.shell</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.operator.herestring.shell</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>string.unquoted.herestring.shell</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(&lt;&lt;&lt;)(([^\s\\]|\\.)+)</string>
			<key>name</key>
			<string>meta.herestring.shell</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>valid: &amp;&gt;word &gt;&amp;word &gt;word [n]&gt;&amp;[n] [n]&lt;word [n]&gt;word [n]&gt;&gt;word [n]&lt;&amp;word (last one is duplicate)</string>
			<key>match</key>
			<string>&amp;&gt;|\d*&gt;&amp;\d*|\d*(&gt;&gt;|&gt;|&lt;)|\d*&lt;&amp;|\d*&lt;&gt;</string>
			<key>name</key>
			<string>keyword.operator.redirect.shell</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.shell</string>
				</dict>
			</dict>
			<key>match</key>
			<string>(?&lt;!\$)(#)(?!\{).*$\n?</string>
			<key>name</key>
			<string>comment.line.number-sign.shell</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>entity.name.function.shell</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.arguments.shell</string>
				</dict>
			</dict>
			<key>match</key>
			<string>\b([^ \t\n]*)\s*(\(\))</string>
			<key>name</key>
			<string>meta.function.shell</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?:if|then|else|elif|fi|for|in|do|done|select|case|continue|esac|while|until)\b</string>
			<key>name</key>
			<string>keyword.control.shell</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(?:export)\b</string>
			<key>name</key>
			<string>storage.modifier.shell</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>interpolation</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>`</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.string.begin.shell</string>
						</dict>
					</dict>
					<key>end</key>
					<string>`</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.string.end.shell</string>
						</dict>
					</dict>
					<key>name</key>
					<string>string.interpolated.backtick.shell</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>match</key>
							<string>\\[`\\$]</string>
							<key>name</key>
							<string>constant.character.escape.shell</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>\$\(</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.string.begin.shell</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\)</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.string.end.shell</string>
						</dict>
					</dict>
					<key>name</key>
					<string>string.interpolated.dollar.shell</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>$self</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>variable</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.variable.shell</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\$)[-*@#?$!0_]</string>
					<key>name</key>
					<string>variable.other.special.shell</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.variable.shell</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\$)[1-9]</string>
					<key>name</key>
					<string>variable.other.positional.shell</string>
				</dict>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.variable.shell</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(\$)[a-zA-Z_][a-zA-Z0-9_]*</string>
					<key>name</key>
					<string>variable.other.normal.shell</string>
				</dict>
				<dict>
					<key>begin</key>
					<string>\$\{</string>
					<key>captures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.variable.shell</string>
						</dict>
					</dict>
					<key>end</key>
					<string>\}</string>
					<key>name</key>
					<string>variable.other.bracket.shell</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.shell</string>
	<key>uuid</key>
	<string>DDEEA3ED-6B1C-11D9-8B10-000D93589AF6</string>
</dict>
</plist>
