<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_CVS:=cvs}" "If you have installed cvs, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_CVS&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

"${TM_RUBY:-ruby}" -r "$TM_SUPPORT_PATH/lib/shelltokenize.rb" &lt;&lt;END
  cvs = ENV['TM_CVS'] || "cvs"
  TextMate.selected_paths_array.each do |path|
    puts %x{cd "#{File.dirname path}" &amp;&amp; #{cvs} add "#{File.basename path}"}
  end
END</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Add to Repository</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>ADCD4FCD-D39D-41B3-88D0-84C5BE115535</string>
</dict>
</plist>
