<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_CVS:=cvs}" "If you have installed cvs, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_CVS&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

"${TM_RUBY:-ruby}" &lt;&lt;'END'

ENV['CVS_PATH'] = ENV['TM_CVS']
$LOAD_PATH &lt;&lt; ENV['TM_BUNDLE_SUPPORT']
require 'versioned_file'
require 'diff'

file = CVS::VersionedFile.new(ENV['TM_FILEPATH'])
annotation = file.cvs(:annotate)
diff = CVS::Diff.new(file.diff(:head))

n = diff.source_line(ENV['TM_LINE_NUMBER'].to_i-1)
case n
when Symbol then puts "#{n} locally"
else puts annotation.split(/\n/)[n]
end

END
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Annotate Line</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>76E34DE2-1DCB-47B8-BA2F-4F3341A3AB9C</string>
</dict>
</plist>
