<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_CVS:=cvs}" "If you have installed cvs, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_CVS&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

export TM_CVS
export CommitWindow="$TM_SUPPORT_PATH/bin/CommitWindow.app/Contents/MacOS/CommitWindow"

cd "${TM_PROJECT_DIRECTORY:-$TM_DIRECTORY}"
"${TM_RUBY:-ruby}" -- "${TM_BUNDLE_SUPPORT}/cvs_commit.rb"</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^Z</string>
	<key>name</key>
	<string>Commit...</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>BE6728A5-AFC4-4D98-9EC7-C2E951483B71</string>
</dict>
</plist>
