<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>#include &lt;${1:.h}&gt;</string>
	<key>name</key>
	<string>#include &lt;…&gt;</string>
	<key>scope</key>
	<string>source.c, source.objc, source.c++, source.objc++</string>
	<key>tabTrigger</key>
	<string>Inc</string>
	<key>uuid</key>
	<string>B10CBD5D-7298-11D9-813A-000D93589AF6</string>
</dict>
</plist>
