<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveRight:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>"</string>
	<key>name</key>
	<string>Inside String: Overtype Closing "</string>
	<key>scope</key>
	<string>source.python string.quoted.double.single-line punctuation.definition.string.end.python</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>8FBF7D90-D1FC-49EE-AC1B-14BE5FB11647</string>
</dict>
</plist>
