<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findNext</string>
				<key>findInProjectIgnoreCase</key>
				<true/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>&lt;&lt;&lt;&lt;&lt;&lt;&lt;</string>
				<key>ignoreCase</key>
				<true/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>document</string>
				<key>replaceString</key>
				<string></string>
				<key>wrapAround</key>
				<true/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToBeginningOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>centerSelectionInVisibleArea:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^"</string>
	<key>name</key>
	<string>Find Next Conflict</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>9AC77FC1-5C08-43D6-8ECF-7E42BA71949D</string>
</dict>
</plist>
