<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>findNext</string>
				<key>findInProjectIgnoreCase</key>
				<true/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>(?m:&lt;&lt;&lt;&lt;&lt;&lt;&lt;[^\n]*?\n(.*?\n?)=======\n(.*?\n?)&gt;&gt;&gt;&gt;&gt;&gt;&gt;([^\n]*)\n)</string>
				<key>ignoreCase</key>
				<true/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>document</string>
				<key>replaceString</key>
				<string>$1</string>
				<key>wrapAround</key>
				<true/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
		<dict>
			<key>argument</key>
			<dict>
				<key>action</key>
				<string>replace</string>
				<key>findInProjectIgnoreCase</key>
				<true/>
				<key>findInProjectRegularExpression</key>
				<false/>
				<key>findString</key>
				<string>(?m:&lt;&lt;&lt;&lt;&lt;&lt;&lt;[^\n]*?\n(.*?\n?)=======\n(.*?\n?)&gt;&gt;&gt;&gt;&gt;&gt;&gt;([^\n]*)\n)</string>
				<key>ignoreCase</key>
				<true/>
				<key>regularExpression</key>
				<true/>
				<key>replaceAllScope</key>
				<string>document</string>
				<key>replaceString</key>
				<string>$1</string>
				<key>wrapAround</key>
				<true/>
			</dict>
			<key>command</key>
			<string>findWithOptions:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>^{</string>
	<key>name</key>
	<string>Replace Conflict With Older Text</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>E115C756-C345-49A2-B35A-6B97109D360E</string>
</dict>
</plist>
