<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveToEndOfParagraph:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>@</string>
	<key>name</key>
	<string>and Insert LF</string>
	<key>uuid</key>
	<string>A72CBA80-5F10-11D9-9B72-000D93589AF6</string>
</dict>
</plist>
