<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<array>
		<dict>
			<key>command</key>
			<string>moveUp:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>moveToEndOfLine:</string>
		</dict>
		<dict>
			<key>command</key>
			<string>insertNewline:</string>
		</dict>
	</array>
	<key>keyEquivalent</key>
	<string>~@</string>
	<key>name</key>
	<string>Move to BOL and Insert LF</string>
	<key>scope</key>
	<string>source.ruby | source.ocaml | source.fsharp | source.python | source.haskell | text.html</string>
	<key>scopeType</key>
	<string>local</string>
	<key>uuid</key>
	<string>DE720B53-107F-4AF8-8768-96D25AEBEE6C</string>
</dict>
</plist>
