<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>base=${TM_DROPPED_FILE##*/}
alt=$(tr &lt;&lt;&lt;${base%.*} '[_-]' ' '|perl -pe 's/(\w+)/\u$1/g')
if [ -n "$TM_DROPPED_FILE_STRIP_ROOT" ]
then
	file=$(sed -e "s|^$TM_DROPPED_FILE_STRIP_ROOT||" &lt;&lt;&lt; $TM_DROPPED_FILE);
else
	file=${TM_DROPPED_FILE};
fi
echo -n "![\${1:$alt}]($file)"</string>
	<key>draggedFileExtensions</key>
	<array>
		<string>png</string>
		<string>PNG</string>
		<string>jpeg</string>
		<string>JPEG</string>
		<string>jpg</string>
		<string>JPG</string>
		<string>gif</string>
		<string>GIF</string>
	</array>
	<key>name</key>
	<string>Insert Image Tag</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.html.markdown -meta.disable-markdown</string>
	<key>uuid</key>
	<string>DA18D8BE-792F-11D9-A212-000D93B3A10E</string>
</dict>
</plist>
