<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>python "$TM_BUNDLE_SUPPORT/bin/html2text.py" &lt;"$TM_DROPPED_FILE"|perl -pe 's/\\/\\\\/g; s/`/\\`/g; s/\$/\\\$/g'</string>
	<key>draggedFileExtensions</key>
	<array>
		<string>html</string>
		<string>htm</string>
	</array>
	<key>name</key>
	<string>Insert HTML File as Markdown</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>DA157B9A-792F-11D9-A212-000D93B3A10E</string>
</dict>
</plist>
