<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># This command works well when you use the TextMate service from a 
# web-log editor like Ecto or MarsEdit.  You can write in markdown
# and then convert back to html before save and close.

HTML4=$([ -n "$TM_XHTML" ] || echo '--html4tags')
Markdown.pl $HTML4|"${TM_SMARTYPANTS:-SmartyPants.pl}"|perl -pe '
	# make &lt;h1&gt;Header&lt;/h1&gt; into &lt;h1 id="header"&gt;Header&lt;/h1&gt;
	# so that we can link to page#header
	if(($tag, $title) = /&lt;(h[1-6])&gt;(.*?)&lt;\/\1&gt;/) {
		$_ = $title;
		s/&lt;[^&gt;]+&gt;|&amp;\w+;//g;	# remove tag and entities
		s/[^-_ \/\w]//g;		# remove all but word and separators
		s/[-_ \/]+/_/g;		# collapse all separators into _
		$_ = "&lt;$tag id=\"" . (lc $_) . "\"&gt;$title&lt;/$tag&gt;\n";
	}'
</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Convert Document / Selection to HTML</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>text.html.markdown</string>
	<key>uuid</key>
	<string>966B0E57-799A-4B91-84B4-75695A78F7B8</string>
</dict>
</plist>
