<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>MultiMarkdown.pl|"${TM_SMARTYPANTS:-SmartyPants.pl}" &gt; "${TM_DIRECTORY:-/tmp}"/output.html
open "${TM_DIRECTORY:-/tmp}"/output.html</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^@p</string>
	<key>name</key>
	<string>Generate Output and Open in Browser</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>text.html.markdown.multimarkdown</string>
	<key>uuid</key>
	<string>351451DE-C1A4-4A36-A563-99AF761D026B</string>
</dict>
</plist>
