<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>InsertFormatHeader.rb|MultiMarkdown.pl|SmartyPants.pl|xsltproc -novalid -nonet "$TM_BUNDLE_SUPPORT/xhtml2article.xslt"  -</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>name</key>
	<string>Convert Document / Selection to LaTeX</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>scope</key>
	<string>text.html.markdown.multimarkdown</string>
	<key>uuid</key>
	<string>67EB96A4-4213-42C9-9C47-B886A4B8AC93</string>
</dict>
</plist>
