<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Objective-C message call indentation</string>
	<key>scope</key>
	<string>meta.function-call.objc</string>
	<key>settings</key>
	<dict>
		<key>indentExpression</key>
		<string>
;
; experimental testing of indent expressions
; the code should return the absolute amount of whitespace to use for the current line
;
(set NSNotFound -1)
(set string ((text textStorage) string))
(set range (text rangeOfScopeSelector:"meta.bracketed.objc" atLocation:(text caret)))
; find first colon
(set colon (((text textStorage) string) rangeOfString:":" options:0 range:range))
(set location (car colon))
(if (and (not (eq location NSNotFound)) (&lt; location (text caret)))
	(set col ((text textStorage) columnAtLocation:location))
	; now find any colon after the caret
	(set r `(,(text caret) ,(- (+ (first range) (second range)) (text caret))))
	(set colon2 (((text textStorage) string) rangeOfString:":" options:0 range:r))
	(if (eq (car colon2) NSNotFound)
		(- col 1)
		(else
			(set col2 ((text textStorage) columnAtLocation:(first colon2)))
			(set indent (- col col2))
			(if (&lt; indent 0) 0 (else indent))) )
	(else
		; return a negative number to use default indentation rules
		-1))
		</string>
	</dict>
	<key>uuid</key>
	<string>F9A613AE-5070-11E0-87E4-1786A0A61BAF</string>
</dict>
</plist>
