<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>LaTeXTidy.pl</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^H</string>
	<key>name</key>
	<string>Tidy</string>
	<key>output</key>
	<string>replaceDocument</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>DF9F9DF7-5F85-11D9-97D0-000D9332809C</string>
</dict>
</plist>
