<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>if [[ -z $TM_SELECTED_TEXT ]]
   then 
# If the cursor is inside empty braces {}, then offer
# a list of all bibliography items. In that case, 
# the variable $phrase is not being set.
	prev_ch=${TM_CURRENT_LINE:$TM_LINE_INDEX-1:1}
	if [[ $prev_ch != '{' ]]
		then phrase=$TM_CURRENT_WORD
	fi
   else phrase=$TM_SELECTED_TEXT
fi
if [[ -z $phrase ]]
	then 
# Case where $phrase is not defined

res=`osascript &lt;&lt;EOF
tell application "Bibdesk"
	set publist to get displayed publications of the first item of documents
	set candidates to {}
		repeat with anItem in publist
		set candidates to candidates &amp; ((cite key of anItem) &amp; " % " &amp; (last name of author of anItem) &amp; ", " &amp; (title of anItem))
		end repeat
	end tell
	tell application "System Events"
		activate
		choose from list candidates
	end tell
EOF`
	else 
# Case where $phrase is defined

res=`osascript &lt;&lt;EOF
	tell application "Bibdesk" to set candidates to search for "$phrase" with for completion
	tell application "System Events"
		activate
		choose from list candidates
	end tell
EOF`
fi
# If an error occurs, $? stores the return code.
errorcode=$?
# return control to TextMate
osascript -e 'tell app "TextMate" to activate' &amp;&gt;/dev/null &amp;
# If user presses Cancel, then applescript returns false. 
if [[ (${res:0:5} == false) || ($errorcode != 0) ]]
	then exit_discard
fi

res=`perl -pe &lt;&lt;&lt;$res 's/^(.*?)(\s*)%.*/$1/'` # strip comment
res="${res//\\\\/\\\\}"                       # \ -&gt; \\
res="${res//$/\\$}"                           # $ -&gt; \$

echo -n $res
#if [[ -z $TM_SELECTED_TEXT ]] &amp;&amp; [[ -n $phrase ]]
#   then echo -n ${res:${#TM_CURRENT_WORD}}
#   else echo -n ${res}
#fi
#</string>
	<key>fallbackInput</key>
	<string>word</string>
	<key>input</key>
	<string>selection</string>
	<key>name</key>
	<string>BibDesk Completion</string>
	<key>output</key>
	<string>replaceSelectedText</string>
	<key>scope</key>
	<string>meta.citation.latex</string>
	<key>uuid</key>
	<string>F80F9C22-ABB8-11D9-957A-000D93589AF6</string>
</dict>
</plist>
