<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>texMate.py sync 1</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^~@o</string>
	<key>name</key>
	<string>Jump to Current Line in Viewer</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>D8B2D295-AD3C-11D9-BD97-000D93B6E43C</string>
</dict>
</plist>
