<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># This command inserts any missing \end{environment} at the caret position
# It is analogous with Insert Closing Tag for HTML.

ruby -- "$TM_SUPPORT_PATH/bin/checknest.rb" '\\begin(?&gt;\{(.+?)\})' '\\end(?&gt;\{(.+?)\})' '\end{$1}' -n$TM_LINE_NUMBER</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>~@.</string>
	<key>name</key>
	<string>Environment Closer — \end{…}</string>
	<key>output</key>
	<string>afterSelectedText</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>D52CA669-A6DA-4CF1-BDF5-522D591D7E7D</string>
</dict>
</plist>
