<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>. "${TM_SUPPORT_PATH}/lib/html.sh"
. "${TM_SUPPORT_PATH}/lib/webpreview.sh"

# Prepare output window.
html_header 'Clean Auxiliary files'

texMate.py clean 1</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^~</string>
	<key>name</key>
	<string>Trash aux Files</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.tex.latex</string>
	<key>uuid</key>
	<string>F330276E-C4B2-11D9-B15D-000D93B6E43C</string>
</dict>
</plist>
