<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScrollOutput</key>
	<integer>1</integer>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

require ENV["TM_SUPPORT_PATH"] + "/lib/tm/executor"
require ENV["TM_SUPPORT_PATH"] + "/lib/tm/save_current_document"

TextMate.save_current_document
TextMate::Executor.make_project_master_current_document

TextMate::Executor.run(ENV["TM_SHELL"] || ENV["SHELL"] || "bash", ENV["TM_FILEPATH"])</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>@r</string>
	<key>name</key>
	<string>Run Script</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.shell</string>
	<key>uuid</key>
	<string>7207ACC2-A64B-11D9-B384-000D93382786</string>
</dict>
</plist>
