<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby

termchar = ENV['TM_LINE_TERMINATOR'] || ";"

# short for escape_snippet - escapes special snippet characters in str
def es(str)
	str.to_s.gsub(/([$`\\])/, "\\\\\\1")
end

print es($stdin.read()[/^(.*?);*\s*$/, 1]) + "#{es(termchar)}$0"</string>
	<key>fallbackInput</key>
	<string>line</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>~@</string>
	<key>name</key>
	<string>and Insert Terminator</string>
	<key>output</key>
	<string>insertAsSnippet</string>
	<key>scope</key>
	<string>source</string>
	<key>uuid</key>
	<string>CA1849DD-D6EC-415D-8788-DD93BE027F6D</string>
</dict>
</plist>
