<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_SVN:=svn}" "If you have installed svn, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_SVN&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

"${TM_RUBY:-ruby}" -r "$TM_SUPPORT_PATH/lib/shelltokenize.rb" &lt;&lt;END
	svn = ENV['TM_SVN'] || "svn"
	puts %x{#{svn} add #{TextMate.selected_paths_for_shell}}
END</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Add to Repository</string>
	<key>output</key>
	<string>showAsTooltip</string>
	<key>uuid</key>
	<string>CB149C8E-74CD-11D9-813D-000A95A89C98</string>
</dict>
</plist>
