<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>command</key>
	<string>require_cmd "${TM_SVN:=svn}" "If you have installed svn, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_SVN&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

require_cmd "${TM_RUBY:=ruby}" "We need Ruby to proceed."

export TM_RUBY
export TM_SVN
export CommitWindow="$TM_SUPPORT_PATH/bin/CommitWindow.app/Contents/MacOS/CommitWindow"

cd "${TM_PROJECT_DIRECTORY:-$TM_DIRECTORY}"
"${TM_RUBY:-ruby}" -- "${TM_BUNDLE_SUPPORT}/svn_commit.rb" &amp;&gt; /dev/console &amp;
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Commit…</string>
	<key>output</key>
	<string>discard</string>
	<key>uuid</key>
	<string>5F2BCB27-7A5B-11D9-A61B-000A95A89C98</string>
</dict>
</plist>
