<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_SVN:=svn}" "If you have installed svn, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_SVN&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

"${TM_RUBY:-ruby}" &lt;&lt;'END'
#!/usr/bin/env ruby -w

require "#{ENV['TM_BUNDLE_SUPPORT']}/svn_diff"

Subversion::diff_active_file('BASE', "Diff With Working Copy")
END</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Diff With Working Copy (BASE)</string>
	<key>output</key>
	<string>openAsNewDocument</string>
	<key>uuid</key>
	<string>11D4D7C2-7665-11D9-B58C-000A95A89C98</string>
</dict>
</plist>
