<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_SVN:=svn}" "If you have installed svn, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_SVN&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

: ${TM_RUBY:=ruby}
FORMAT_INFO="${TM_BUNDLE_SUPPORT}/format_info.rb"

if [[ -z $TM_SELECTED_FILES ]]; then
   "$TM_SVN" info "$TM_FILEPATH" 2&gt;&amp;1 \
   |"$TM_RUBY" -- "$FORMAT_INFO"
else
   eval "$TM_SVN" info "$TM_SELECTED_FILES" 2&gt;&amp;1 \
   |"$TM_RUBY" -- "$FORMAT_INFO"
fi</string>
	<key>dontFollowNewOutput</key>
	<true/>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Info</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>56BE2092-806D-11D9-A0FB-0011242E4184</string>
</dict>
</plist>
