<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>require_cmd "${TM_SVN:=svn}" "If you have installed svn, then you need to either update your &lt;tt&gt;PATH&lt;/tt&gt; or set the &lt;tt&gt;TM_SVN&lt;/tt&gt; shell variable (e.g. in Preferences / Advanced)"

require_cmd "${TM_RUBY:=ruby}" "We need Ruby to proceed."

export TM_RUBY
export TM_SVN
export CommitWindow="$TM_SUPPORT_PATH/bin/CommitWindow.app/Contents/MacOS/CommitWindow"

{ if [[ -z $TM_SELECTED_FILES ]]
	then
	export WorkPath="${TM_PROJECT_DIRECTORY:-$TM_DIRECTORY}"
	export TM_SELECTED_FILES="'"${WorkPath//\'/\'\\\'\'}"'"
	"$TM_SVN" status "$WorkPath" 2&gt;&amp;1| "${TM_RUBY:-ruby}" -KU -- "${TM_BUNDLE_SUPPORT}/format_status.rb" "--status"
	else
	eval "$TM_SVN" status "$TM_SELECTED_FILES" 2&gt;&amp;1 |"${TM_RUBY:-ruby}" -KU -- "${TM_BUNDLE_SUPPORT}/format_status.rb" "--status"
fi; }
</string>
	<key>dontFollowNewOutput</key>
	<true/>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>^A</string>
	<key>name</key>
	<string>Status</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>uuid</key>
	<string>01F140D9-749F-11D9-8199-000A95A89C98</string>
</dict>
</plist>
