<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   AUTHOR_ADDR=$(ruby &lt;&lt;"EOF" -rplist
file = "#{ENV['HOME']}/Library/Preferences/AddressBookMe.plist"
plist = OSX::PropertyList.load(File.new(file))
puts plist['FirstName'] + " " + plist['LastName'] + '\\\\'
puts plist['StreetAddr1'] + '\\\\'
puts plist['StreetAddr2'] + '\\\\'
puts plist['ZipPostal'] + " " + plist['City'] + '\\\\'
puts plist['Email'] + '\\\\'
puts "http://www.xxx.yyy/mysite.html"
EOF) \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; template_exam.tex &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>tex</string>
	<key>name</key>
	<string>Exam</string>
	<key>uuid</key>
	<string>8FA81F66-B682-11D9-9C6E-000A95766570</string>
</dict>
</plist>
