<% require ENV['TM_SUPPORT_PATH'] + '/lib/web_preview.rb' %>

<%= html_header("Commit", "Subversion") %>

<div class="info">
	<%= revision_string || '' %>
</div>	

<pre><% verbose_output.each_line do | line | %><%= line %><br /><% end %></pre>

<%= html_footer %>
