<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Spell Checking: Disable for Change Set</string>
	<key>scope</key>
	<string>meta.scope.changed-files.svn</string>
	<key>settings</key>
	<dict>
		<key>spellChecking</key>
		<string>0</string>
	</dict>
	<key>uuid</key>
	<string>25A2BE22-EDC9-4616-92A3-95C21A932CA4</string>
</dict>
</plist>
