{
	commands = {
		it = '\\textit{$1} ';
		bf = '\\textbf{$1} ';
		tt = '\\texttt{$1} ';
		sf = '\\textsf{$1} ';
		sc = '\\textsc{$1} ';
		e  = '\\emph{$1} ';
		em = '\\emph{$1} ';
		fc = '\\footcite{$1} ';
		fn = '\\footnote{$1} ';
		cli = '\\lstinline{$1} ';
		ds = '\\displaystyle';
		dis = '\\displaystyle';
		
		hf = '\\hfill';
		vf = '\\vfill';
		
		dc = '\\documentclass{${1:article}}\n';
		nc = '\\newcommand{$1}{$2}';
		rnc = '\\renewcommand{$1}{$2}';
		usep = '\\usepackage{$1}';
		geo = '\\usepackage[left=${1:2cm},right=${2:2cm},top=${3:1cm},bottom=${4:2cm}]{geometry}';
		
		sec = '\\section{$1}';
		sub = '\\subsection{$1}';
		ssub = '\\subsubsection{$1}';
		subs = '\\subsubsection{$1}';
		cha = '\\chapter{$1}';
		par = '\\paragraph{$1}';
		subp = '\\subparagraph{$1}';

		
		fr = '\\frac{${1:num}}{$0}';
		frac = '\\frac{${1:num}}{$0}';
		l   = '\\lim_{$1} $0';
		lim = '\\lim_{$1} $0';
		s = '\\sum_\{${1:bot}\}^{$2} $0';
		sum = '\\sum_\{${1:bot}\}^{$2} $0';
		p = "\\prod_\{${1:bot}\}^{$2} $0";
		prod = "\\prod_\{${1:bot}\}^{$2} $0";

		put = "\\put(${1:0},${2:0}){$0}";
		mp = "\\multiput(${1:0},${2:0})(${3:5},${4:0}){${5:2}}{$0}";
		mput = "\\multiput(${1:0},${2:0})(${3:5},${4:0}){${5:2}}{$0}";
		multiput = "\\multiput(${1:0},${2:0})(${3:5},${4:0}){${5:2}}{$0}";
		line = "\\line(${1:0},${2:0}){${3:0}}{$0}";
		cir = "\\circle${1:[*]}{$0}";
		circle = "\\circle${1:[*]}{$0}";
	};
	commands_beamer = {
		un = "\\uncover<${1:+-}>{$2} ";
		uncover = "\\uncover<${1:+-}>{$2} ";
		o = "\\only<${1:+-}>{$2} ";
		on = "\\only<${1:+-}>{$2} ";
		only = "\\only<${1:+-}>{$2} ";
		os = "\\onslide<${1:+-}>{$2} ";
		ons = "\\onslide<${1:+-}>{$2} ";
		onslide = "\\onslide<${1:+-}>{$2} ";
		un = "\\uncover<${1:+-}>{$2} ";
		uncover = "\\uncover<${1:+-}>{$2} ";
		a = "\\alert<${1:+-}>{$2} ";
		al = "\\alert<${1:+-}>{$2} ";
		alert = "\\alert<${1:+-}>{$2} ";
		v = "\\visible<${1:+-}>{$2} ";
		vis = "\\visible<${1:+-}>{$2} ";
		visible = "\\visible<${1:+-}>{$2} ";
	};
	environments = {
		itemize = {
			triggers = ( 'it', 'item', 'itemize');
			content = "\t\\item $0";
		};
		enumerate = {
			triggers = ( 'en', 'enum', 'enumerate');
			content = "\t\\item $0";
		};
		description = {
			triggers = ( 'desc', 'description');
			content = "\t\\item[$1] $0";
		};
		document = {
			triggers = ( doc, document );
		};
		equation = {
			triggers = ( eq, eqn, equation );
		};
		eqnarray = {
			triggers = ( eqa, eqnarray );
		};
		'equation*' = {
			triggers = ( 'eq*', 'eqn*', 'equation*' );
		};
		'eqnarray*' = {
			triggers = ( 'eqa*', 'eqnarray*' );
		};

		questions = {
			triggers = ( q, que, questions );
			content = "\t\\question $0";
		};
		parts = {
			triggers = ( p, par, parts );
			content = "\t\\part $0";
		};
		
		quote = {
			triggers = ( q, qu, quote );
		};
		quotation = {
			triggers = ( q, qu, quotation );
		};
		
		table = {
			triggers = ( tbl, table);
			content = "\t\\begin{center}
	\\begin{tabular}{${3:c}}
		${4}
	\\end{tabular}
	\\end{center}
	\\caption{${1:caption}}
	\\label{${2:label}}";
		};
	};
	labeled_environments = {
		theorem = {
			triggers = ( thm, theorem );
			content = "\\label{thm:$1}\n\t$0";
		};
		lemma = {
			triggers = ( lem, lemma );
			content = "\\label{lem:$1}\n\t$0";
		};
		corollary = {
			triggers = ( cor, corollary );
			content = "\\label{cor:$1}\n\t$0";
		};
		proposition = {
			triggers = ( pro, proposition );
			content = "\\label{pro:$1}\n\t$0";
		};
		definition = {
			triggers = ( def, definition );
			content = "\\label{def:$1}\n\t$0";
		};
		proof = {
			triggers = ( pf, proof );
			content = "${1:\\label{pf:$2\\}}\n\t$0";
		};

		lstlisting = {
			triggers = ( lst, lstlisting);
			content = "[caption=${1:cap},label=lst:${2:lab},float=htbp]\n\t$0";
		};
		figure = {
			triggers = ( fig, figure);
			content = "[${1:htbp}]\n\t\\centering
\t\t\\includegraphics[${2:scale=${3:1}}]{${4:file}}
\t\\caption{${5:caption}}
\t\\label{fig:${6:label}}";
		};
		picture = {
			triggers = ( pic, picture);
			content = "(${1:100},${2:100})${3:(${4:0},${5:0})}\n\t$0";
		};

	};
	environments_beamer = {
		itemize = {
			triggers = ( 'it', 'item', 'itemize');
			content = '\t\\item<${1:+-}> $2';
		};
		enumerate = {
			triggers = ( 'en', 'enum', 'enumerate');
			content = '\t\\item<${1:+-}> $2';
		};
		description = {
			triggers = ( 'desc', 'description');
			content = '\t\\item<${1:+-}>[$2] $3';
		};
		columns = {
			triggers = ( cols, columns);
			content = "\t\\begin{column}{${1:0.${2:5}\\textwidth}}
	$3
\\end{column}";
		};
		overprint = {
			triggers = (op, overprint );
			content = "\t\\onslide<${1:+}>\n\t$0";
		};
	};
	labeled_environments_beamer = {
		frame = {
			triggers = ( fr, frame );
			content = "[${1:t}]\\frametitle{${2:title}}\n\t$0";
		};
		column = {
			triggers = ( col, column );
			content = "{${1:0.${2:5}\\textwidth}}\n\t$0";
		};
		block = {
			triggers = ( bl, block );
			zero_line = "{$1}\n\t$0";
		};
		overlayarea = {
			triggers = ( oa, overlayarea );
			content = "{${1:areawidth}}{${2:areaheight}}\n\t\\only<${3:+}> $0";
		};
	};
	
	// Thanks to Piero D'Ancona for the symbols dictionary
	symbols = {
		"a" = "\\alpha";
		"al" = "\\aleph";
		"am" = "\\amalg";
		"an" = "\\angle";
		"angle" = "measuredangle";
		"measuredangle" = "sphericalangle";
		"sphericalangle" = "angle";
		"ap" = "\\approx";
		"ar" = "\\arcsin"; 
		"arcsin" = "arccos";
		"arccos" = "arctan";
		"arctan" = "arcsin";
		"ah" = "\\arcsinh"; 
		"arcsinh" = "arccosh";
		"arccosh" = "arctanh";
		"arctanh" = "arcsinh";
		"as" = "\\ast";
		"b" = "\\beta";
		"ba" = "\\backprime";
		"backprime" = "barwedge";
		"barwedge" = "backprime";
		"be" = "\\because";
		"bi" = "\\bigcup";
		"bigcup" = "bigcap";
		"bigcap" = "bigvee";
		"bigvee" = "bigwedge";
		"bigwedge" = "bigotimes";
		"bigotimes" = "bigoplus";
		"bigoplus" = "biguplus";
		"biguplus" = "bigodot";
		"bigodot" = "bigstar";
		"bigstar" = "bigtriangleup";
		"bigtriangleup" = "bigtriangledown";
		"bigtriangledown" = "bigcirc";
		"bigcirc" = "bigcup";
		"bl" = "\\blacksquare";
		"blacksquare" = "blacktriangle";
		"blacktriangle" = "blacktriangleleft";
		"blacktriangleleft" = "blacktriangleright";
		"blacktriangleright" = "blacktriangledown";
		"blacktriangledown" = "blacksquare";
		"bo" = "\\Box";
		"Box" = "boxminus";
		"boxminus" = "boxtimes";
		"boxtimes" = "boxplus";
		"boxplus" = "boxdot";
		"boxdot" = "boxminus";
		"bu" = "\\bullet";
		"c" = "\\chi";
		"ca" = "\\cap";
		"cap" = "Cap";
		"Cap" = "cap";
		"cd" = "\\cdot";
		"cdot" = "cdots";
		"cdots" = "cdot";
		"ce" = "\\centerdot";
		"ci" = "\\circ";
		"circ" = "circleddash";
		"circleddash" = "circledast";
		"circledast" = "circledcirc";
		"circledcirc" = "circledS";
		"circledS" = "circ";
		"cl" = "\\clubsuit";
		"co" = "\\cos";
		"cos" = "cosh";
		"cosh" = "colon";
		"colon" = "cong";
		"cong" = "complement";
		"complement" = "cos";
		"ct" = "\\cite";
		"cu" = "\\cup";
		"cup" = "Cup";
		"Cup" = "curlywedge";
		"curlywedge" = "curlyvee";
		"curlyvee" = "cup";
		"g" = "\\gamma";
		"d" = "\\delta";
		"da" = "\\dagger";
		"dagger" = "dashv";
		"dashv" = "dagger";
		"dd" = "\\ddots";
		"ddots" = "ddagger";
		"ddagger" = "ddots";
		"di" = "\\displaystyle";
		"displaystyle" = "div";
		"div" = "diamond";
		"diamond" = "Diamond";
		"Diamond" = "diagdown";
		"diagdown" = "diagup";
		"diagup" = "divideontimes";
		"divideontimes" = "diamondsuit";
		"diamondsuit" = "displaystyle";
		"do" = "\\dots";
		"dots" = "doteq";
		"doteq" = "dotplus";
		"dotplus" = "dots";
		"e" = "\\epsilon";
		"epsilon" = "varepsilon";
		"varepsilon" = "epsilon";
		"et" = "\\eth";
		"el" = "\\ell";
		"em" = "\\emptyset";
		"eq" = "\\equiv";
		"ex" = "\\exp";
		"exp" = "exists";
		"exists" = "exp";
		"f" = "\\phi";
		"phi" = "varphi";
		"varphi" = "phi";
		"fi" = "\\Finv";
		"fl" = "\\flat";
		"fo" = "\\forall";
		"fr" = "\\frac";
		"ga" = "\\Game";
		"gg" = "\\ggg";
		"gr" = "\\gtrsim";
		"hb" = "\\hbar";
		"he" = "\\heartsuit";
		"hs" = "\\hslash";
		"i" = "\\iota";
		"ii" = "\\iint";
		"iint" = "iiint";
		"iiint" = "iint";
		"if" = "\\iff";
		"im" = "\\implies";
		"implies" = "imath";
		"imath" = "implies";
		"in" = "\\int";
		"int" = "intercal";
		"intercal" = "int";
		"int" = "infty";
		"infty" = "inf";
		"inf" = "int";
		"jm" = "\\jmath";
		"z" = "\\zeta";
		"h" = "\\eta";
		"q" = "\\theta";
		"theta" = "vartheta";
		"vartheta" = "theta";
		"k" = "\\kappa";
		"kappa" = "varkappa";
		"varkappa" = "kappa";
		"l" = "\\lambda";
		"la" = "\\langle";
		"lb" = "\\label";
		"lc" = "\\lceil";
		"le" = "\\lesssim";
		"lesssim" = "leq";
		"leq" = "leqq";
		"leqq" = "leftthreetimes";
		"leftthreetimes" = "lesssim";
		"ld" = "\\ldots";
		"lf" = "\\lfloor";
		"li" = "\\lim";
		"lim" = "liminf";
		"liminf" = "limsup";
		"limsup" = "lim";
		"ll" = "\\lll";
		"lo" = "\\log";
		"log" = "longmapsto";
		"longmapsto" = "lozenge";
		"lozenge" = "log";
		"lt" = "\\ltimes";
		"m" = "\\mu";
		"ma" = "\\mapsto";
		"mapsto" = "max";
		"max" = "mapsto";
		"mh" = "\\mho";
		"mi" = "\\min";
		"min" = "mid";
		"mid" = "min";
		"n" = "\\nu";
		"na" = "\\nabla";
		"nabla" = "natural";
		"natural" = "nabla";
		"ne" = "\\neq";
		"neq" = "nexists";
		"nexists" = "nearrow";
		"nearrow" = "neq";
		"no" = "\\not";
		"not" = "notin";
		"notin" = "nonumber";
		"nonumber" = "not";
		"nw" = "\\nwarrow";
		"od" = "\\odot";
		"oi" = "\\oint";
		"om" = "\\ominus";
		"op" = "\\oplus";
		"os" = "\\oslash";
		"ot" = "\\otimes";
		"x" = "\\xi";
		"p" = "\\pi";
		"pi" = "varpi";
		"pr" = "\\preccurlyeq";
		"varpi" = "pi";
		"pa" = "\\partial";
		"pe" = "\\perp";
		"pr" = "\\prod";
		"prod" = "prec";
		"prec" = "preceq";
		"preceq" = "propto";
		"propto" = "prod";
		"r" = "\\rho";
		"rho" = "varrho";
		"varrho" = "rho";
		"rc" = "\\rceil";
		"ri" = "\\rightthreetimes";
		"ra" = "\\rangle";
		"re" = "\\Re";
		"Re" = "eqref";
		"eqref" = "ref";
		"ref" = "Re";
		"rf" = "\\rfloor";
		"rh" = "\\rhd";
		"rt" = "\\rtimes";
		"s" = "\\sigma";
		"sigma" = "varsigma";
		"varsigma" = "sigma";
		"sc" = "\\scriptstyle";
		"scriptstyle" = "scriptscriptstyle";
		"scriptscriptstyle" = "scriptstyle";
		"se" = "\\setminus";
		"setminus" = "searrow";
		"searrow" = "setminus";
		"sh" = "\\sharp";
		"si" = "\\sin";
		"sin" = "sinh";
		"sinh" = "sim";
		"sim" = "simeq";
		"simeq" = "sin";
		"sm" = "\\smallsetminus";
		"sq" = "\\sqrt";
		"sqrt" = "square";
		"square" = "sqcap";
		"sqcap" = "sqcup";
		"sqcup" = "sqrt";
		"sb" = "\\subset";
		"subset" = "subseteq";
		"subseteq" = "subseteqq";
		"subseteqq" = "Subset";
		"Subset" = "subset";
		"sp" = "\\supset";
		"supset" = "supseteq";
		"supseteq" = "supseteqq";
		"supseteqq" = "Supset";
		"Supset" = "spadesuit";
		"spadesuit" = "supset";
		"su" = "\\sum";
		"sum" = "sup";
		"sup" = "supp";
		"supp" = "succ";
		"succ" = "succeq";
		"succeq" = "succcurlyeq";
		"succcurlyeq" = "surd";
		"surd" = "sum";
		"st" = "\\star";
		"sw" = "\\swarrow";
		"t" = "\\tau";
		"ta" = "\\tan";
		"tan" = "tanh";
		"tanh" = "tan";
		"te" = "\\textstyle";
		"ti" = "\\times";
		"th" = "\\therefore";
		"to" = "\\top";
		"tr" = "\\triangle";
		"triangle" = "triangledown";
		"triangledown" = "triangleleft";
		"triangleleft" = "triangleright";
		"triangleright" = "triangle";
		"u" = "\\upsilon";
		"up" = "\\uplus";
		"va" = "\\vartriangle";
		"vartriangle" = "varnothing";
		"varnothing" = "vartriangle";
		"y" = "\\psi";
		"w" = "\\omega";
		"we" = "\\wedge";
		"v" = "\\digamma";
		"vd" = "\\vdots";
		"vdots" = "vdash";
		"vdash" = "vdots";
		"ve" = "\\vee";
		"vee" = "veebar";
		"veebar" = "vee";
		"G" = "\\Gamma";
		"D" = "\\Delta";
		"F" = "\\Phi";
		"L" = "\\Lambda";
		"P" = "\\Pi";
		"S" = "\\Sigma";
		"U" = "\\Upsilon";
		"Y" = "\\Psi";
		"W" = "\\Omega";
		"Q" = "\\Theta";
		"qu" = "\\quad";
		"qq" = "\\qquad";
		"sk" = "\\smallskip";
		"smallskip" = "medskip";
		"medskip" = "bigskip";
		"bigskip" = "smallskip";
		"Bk" = "\\Bbbk";
		"BR" = "\\mathbb{R}";
		"BH" = "\\mathbb{H}";
		"BQ" = "\\mathbb{Q}";
		"BZ" = "\\mathbb{Z}";
		"BC" = "\\mathbb{C}";
		"BS" = "\\mathbb{S}";
		"BD" = "\\mathbb{D}";
		"uar" = "\\uparrow";
		"uparrow" = "Uparrow";
		"Uparrow" = "updownarrow";
		"updownarrow" = "Updownarrow";
		"Updownarrow" = "uparrow";
		"dar" = "\\downarrow";
		"downarrow" = "Downarrow";
		"Downarrow" = "downarrow";
		"rar" = "\\rightarrow";
		"rightarrow" = "longrightarrow";
		"longrightarrow" = "Rightarrow";
		"Rightarrow" = "Longrightarrow";
		"Longrightarrow" = "rightarrow";
		"lar" = "\\leftarrow";
		"leftarrow" = "longleftarrow";
		"longleftarrow" = "Leftarrow";
		"Leftarrow" = "Longleftarrow";
		"Longleftarrow" = "leftarrow";
		"lrar" = "\\leftrightarrow";
		"leftrightarrow" = "longleftrightarrow";
		"longleftrightarrow" = "Leftrightarrow";
		"Leftrightarrow" = "Longleftrightarrow";
		"Longleftrightarrow" = "leftrightarrow";
		"har" = "\\leftharpoonup";
		"leftharpoonup" = "leftharpoondown";
		"leftharpoondown" = "rightharpoonup";
		"rightharpoonup" = "rightharpoondown";
		"rightharpoondown" = "leftharpoonup";
		"hoo" = "\\hookleftarrow";
		"hookleftarrow" = "hookrightarrow";
		"hookrightarrow" = "hookleftarrow";
	};
}
