<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># This command takes the currently selected word and
# displays the python documentation for the module
# corresponding to said word.
#
# It falls back on the current word.

# change to /tmp to avoid possibly overwriting
# an html file in the working directory.
cd /tmp

: ${TM_SELECTED_TEXT:=$TM_CURRENT_WORD}
pydoc -w "$TM_SELECTED_TEXT" &gt;/dev/null
if [[ -f "$TM_SELECTED_TEXT.html" ]]; then
	cat "$TM_SELECTED_TEXT.html"
	rm -f "$TM_SELECTED_TEXT.html"
else
	echo "&lt;p&gt;No documentation found for:&lt;pre&gt;$TM_SELECTED_TEXT&lt;/pre&gt;&lt;p&gt;This command only looks for Python modules."
fi
</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string></string>
	<key>name</key>
	<string>Documentation for Module</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>5BBD932E-7BB0-11D9-8E83-000D93B6E43C</string>
</dict>
</plist>
