<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveModifiedFiles</string>
	<key>captureFormatString</key>
	<string>Line $2 in $1</string>
	<key>capturePattern</key>
	<string>^\s*File "(.+)", line (\d+)</string>
	<key>command</key>
	<string># Find all files that end with "Test.py" and run 
# them.

find . -name "*Test.py" -exec "${TM_PYTHON:-python}" '{}' \;|pre</string>
	<key>fileCaptureRegister</key>
	<string>1</string>
	<key>input</key>
	<string>none</string>
	<key>keyEquivalent</key>
	<string>~@R</string>
	<key>lineCaptureRegister</key>
	<string>2</string>
	<key>name</key>
	<string>Run Project Unit Tests</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>1FAC4AE2-B00C-11D9-91F2-000D93347A42</string>
</dict>
</plist>
